@yellow: #fffa19;
@red: #F0F6F7;
@green: #669DB3;

.margins(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

body {
	background-color: #e9e9e9;
	min-height: 100vh;
}
.jumbotron {
	background-image: url('https://source.unsplash.com/tV80374iytg'); 
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center center;
	/*background: rgb(255,79,88);
	background: linear-gradient(90deg, rgba(255,79,88,1) 0%, rgba(102,157,179,1) 50%, rgba(168,156,148,1) 100%);*/
	color: #e1e1e1;
	border-radius: 0;
	.margins(50px, 0px);
}
.movie-card {
	flex: 1 250px;
	.margins(10px, 0px);
	background-color: @red;
}
.btn-watch {
	background-color: @green;
	border: 0;
	border-radius: 18px;
	margin-bottom: 1.25rem;
	margin-left: 1.25rem;
}
.btn-watch:hover {
	background-color: #FF4F58;
}
.movie-card p {
	text-align: justify;
}
footer {
	padding: 10px 10px 0 10px;
	background-color: #292b2c;
	.margins(10px, 0px);
	color: #e1e1e1;
	flex-shrink: 0;
}
footer a {
	color: #e1e1e1;
}
address {
	line-height: 1;
}
form {
	padding-bottom: 150px;
}
#img_head {
	margin: 0 auto;
}
.btn-disabled {
	background-color: gray;
	color: white;
}